<!-- RECIPE DATA -->
<form [formGroup]="recipeForm" (ngSubmit)="submitRecipeEditForm()">
  <h2 class="m-0 color-second" style="text-align: center; margin-bottom: 2rem">
    {{ "recipes.editor.recipe-data" | transloco }}
  </h2>
  <section>
    <!-- TITLE -->
    <div class="entryContainer">
      <div class="inputContainer row-input">
        <label for="title">
          <i-feather name="book" class="md-icon stroke-second" />
          {{ "recipes.editor.title" | transloco }}
        </label>
        <input type="text" name="title" id="title" formControlName="title" />
      </div>
      <ul class="errorContainer">
        <li class="errorMessage m-0">
          {{ "recipes.editor.title" | transloco }}
        </li>
      </ul>
    </div>
    <!-- DESCRIPTION -->
    <div class="entryContainer">
      <div class="inputContainer row-input" style="width: 100%">
        <label for="description">
          <i-feather name="book-open" class="md-icon stroke-second" />
          {{ "recipes.editor.description" | transloco }}
        </label>
        <textarea
          rows="5"
          cols="30"
          name="description"
          id="description"
          formControlName="description"
          style="width: 100%"
        >
        </textarea>
      </div>
      <ul class="errorContainer">
        <li class="errorMessage m-0">
          {{ "recipes.editor.description" | transloco }}
        </li>
      </ul>
    </div>
    <!-- ROW OF 3 -->
    <div
      class="flex-center-container"
      style="flex-wrap: wrap; width: 100%; justify-content: space-around"
    >
      <!-- MIN QTA -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="minQta">
            <i-feather name="users" class="md-icon stroke-second" />
            {{ "recipes.editor.minQta" | transloco }}
          </label>
          <input
            type="number"
            min="1"
            name="minQta"
            id="minQta"
            formControlName="minQta"
          />
        </div>
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.minQta" | transloco }}
          </li>
        </ul>
      </div>
      <!-- TIME OF COOKING -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="cookingTimeHour">
            <i-feather name="clock" class="md-icon stroke-second" />
            {{ "recipes.editor.cookingTime" | transloco }}
          </label>
          <div class="flex-center-container" style="column-gap: 1rem">
            <!-- HOURS -->
            <div class="inputContainer">
              <input
                style="width: 4rem"
                type="number"
                name="cookingTimeHour"
                id="cookingTimeHour"
                min="0"
                step="1"
                formControlName="cookingTime"
              />
              <p class="m-0">{{ "recipes.hours" | transloco }}</p>
            </div>
            <!-- MINUTES -->
            <div class="inputContainer">
              <input
                style="width: 4rem"
                type="number"
                name="cookingTimeMinute"
                id="cookingTimeMinute"
                min="0"
                max="59"
                step="1"
                formControlName="cookingTimeMinute"
              />
              <p class="m-0">{{ "recipes.minutes" | transloco }}</p>
            </div>
          </div>
        </div>
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.cookingTime" | transloco }}
          </li>
        </ul>
      </div>
      <!-- TYPE -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="type">
            <i-feather name="coffee" class="md-icon stroke-second" />
            {{ "recipes.editor.type" | transloco }}
          </label>
          <select name="type" id="type" formControlName="type">
            <option value="ND">
              {{ "generics.selectAnOption" | transloco }}
            </option>
            @for (enum of recipeTypes | keyvalue; track enum) {
              <option [value]="enum.value">
                {{ "recipes.types." + enum.value | transloco }}
              </option>
            }
          </select>
        </div>
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.type" | transloco }}
          </li>
        </ul>
      </div>
    </div>
    <!-- MAIN PICTURE UPLOAD -->
    <div class="entryContainer">
      <app-image-upload
        [label]="'recipes.editor.mainPicture' | transloco"
        [inputName]="'mainPicture'"
      >
      </app-image-upload>
      <ul class="errorContainer">
        <li class="errorMessage m-0">
          {{ "signInModal.errors.username" | transloco }}
        </li>
      </ul>
    </div>
  </section>
</form>
<!-- INGREDIENTS DATA -->
<form [formGroup]="ingredientForm" (ngSubmit)="addIngredient()">
  <h2 class="m-0 color-second" style="text-align: center; margin-bottom: 2rem">
    {{ "recipes.editor.ingredients.title" | transloco }}
  </h2>
  <!-- TODO - LISTA INGREDIENTI CANCELLABILE, MODIFICABILE E MAGARI DRAGGABILE -->
  <section>
    <!-- ROW OF 2 -->
    <div
      class="flex-center-container"
      style="flex-wrap: wrap; width: 100%; column-gap: 1rem"
    >
      <!-- NAME -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="ingredient-name">
            <i-feather name="book" class="md-icon stroke-second" />
            {{ "recipes.editor.ingredients.name" | transloco }}
          </label>
          <input
            type="text"
            name="ingredient-name"
            id="ingredient-name"
            formControlName="ingredientName"
          />
        </div>
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.ingredients.name" | transloco }}
          </li>
        </ul>
      </div>
      <!-- QTA -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="qta">
            <i-feather name="archive" class="md-icon stroke-second" />
            {{ "recipes.editor.ingredients.qta" | transloco }}
          </label>
          <input
            type="text"
            name="qta"
            id="qta"
            formControlName="ingredientQta"
          />
        </div>
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.title" | transloco }}
          </li>
        </ul>
      </div>
    </div>
    <!-- INGREDIENT PICTURE -->
    <div class="entryContainer">
      <app-image-upload
        [label]="'recipes.editor.ingredients.picture' | transloco"
        [inputName]="'ingredientPicture'"
        (photoUploaded)="getIngredientUploadedPhoto($event)"
      >
      </app-image-upload>
      <ul class="errorContainer">
        <li class="errorMessage m-0">
          {{ "signInModal.errors.username" | transloco }}
        </li>
      </ul>
    </div>
    <!-- BOTTONE AGGIUNGI -->
    <div class="flex-center-container">
      <button
        [disabled]="!ingredientForm.valid"
        class="button-secondary animated"
        style="display: flex; align-items: center; column-gap: 0.5rem"
      >
        <i-feather class="sm-icon stroke-second" name="plus"></i-feather>
        {{ "generics.add" | transloco }}
      </button>
    </div>
  </section>
</form>
<br />
<!-- STEPS DATA -->
<form [formGroup]="stepsForm" (ngSubmit)="addStep()">
  <h2 class="m-0 color-second" style="text-align: center; margin-bottom: 2rem">
    {{ "recipes.editor.steps.title-section" | transloco }}
  </h2>
  <!-- TODO - LISTA STEPS CANCELLABILE, MODIFICABILE E MAGARI DRAGGABILE -->
  <section>
    <!-- ROW OF 2 -->
    <div
      class="flex-center-container"
      style="flex-wrap: wrap; width: 100%; column-gap: 1rem"
    >
      <!-- TITLE -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="step-title">
            <i-feather name="book" class="md-icon stroke-second" />
            {{ "recipes.editor.steps.title" | transloco }}
          </label>
          <input
            type="text"
            name="step-title"
            id="step-title"
            formControlName="stepTitle"
          />
        </div>
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.ingredients.name" | transloco }}
          </li>
        </ul>
      </div>
      <!-- DESCRIPTION -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="step-description">
            <i-feather name="book-open" class="md-icon stroke-second" />
            {{ "recipes.editor.steps.description" | transloco }}
          </label>
          <input
            type="text"
            name="step-description"
            id="step-description"
            formControlName="stepDescription"
          />
        </div>
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.title" | transloco }}
          </li>
        </ul>
      </div>
    </div>
    <!-- STEPS PICTURE -->
    <div class="entryContainer">
      <app-image-upload
        [label]="'recipes.editor.steps.picture' | transloco"
        [inputName]="'stepPicture'"
        (photoUploaded)="getStepUploadedPhoto($event)"
      >
      </app-image-upload>
      <ul class="errorContainer">
        <li class="errorMessage m-0">
          {{ "signInModal.errors.username" | transloco }}
        </li>
      </ul>
    </div>
    <!-- BOTTONE AGGIUNGI -->
    <div class="flex-center-container">
      <button
        class="button-secondary animated"
        style="display: flex; align-items: center; column-gap: 0.5rem"
        [disabled]="!stepsForm.valid"
      >
        <i-feather class="sm-icon stroke-second" name="plus"></i-feather>
        {{ "generics.add" | transloco }}
      </button>
    </div>
  </section>
</form>
<hr style="margin: 2rem" />
<div style="margin-top: 2rem" class="flex-center-container">
  <button
    class="button-primary animated"
    style="display: flex; align-items: center; column-gap: 0.5rem"
    [disabled]="!recipeForm.valid"
  >
    @if (editMode) {
      <i-feather class="sm-icon stroke-primary" name="save"></i-feather>
      {{ "recipes.editor.modifyRecipe" | transloco }}
    } @else {
      <i-feather class="sm-icon stroke-primary" name="plus"></i-feather>
      {{ "recipes.editor.addRecipe" | transloco }}
    }
  </button>
</div>
