<!-- RECIPE DATA -->
<form [formGroup]="recipeForm" (ngSubmit)="submitRecipeEditForm()">
  <h2
    class="m-0 color-primary bg-secondary"
    style="text-align: center; margin-bottom: 2rem; border-radius: 15px"
  >
    {{ "recipes.editor.recipe-data" | transloco }}
  </h2>
  <section>
    <!-- TITLE -->
    <div class="entryContainer">
      <div class="inputContainer row-input">
        <label for="title">
          <i-feather name="book" class="md-icon stroke-second"></i-feather>
          {{ "recipes.editor.title" | transloco }}
        </label>
        <input type="text" name="title" id="title" formControlName="title" />
      </div>
      <!-- Error Container -->
      @if (
        recipeForm.get("title")?.errors &&
        recipeForm.get("title")?.touched &&
        recipeForm.get("title")?.dirty
      ) {
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.title" | transloco }}
          </li>
        </ul>
      }
    </div>

    <!-- DESCRIPTION -->
    <div class="entryContainer">
      <div class="inputContainer row-input" style="width: 100%">
        <label for="description">
          <i-feather name="book-open" class="md-icon stroke-second"></i-feather>
          {{ "recipes.editor.description" | transloco }}
        </label>
        <textarea
          rows="5"
          cols="30"
          name="description"
          id="description"
          formControlName="description"
          style="width: 100%"
        ></textarea>
      </div>
      <!-- Error Container -->
      @if (
        recipeForm.get("description")?.errors &&
        recipeForm.get("description")?.touched &&
        recipeForm.get("description")?.dirty
      ) {
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.description" | transloco }}
          </li>
        </ul>
      }
    </div>

    <!-- ROW OF 3 -->
    <div
      class="flex-center-container"
      style="flex-wrap: wrap; width: 100%; justify-content: space-around"
    >
      <!-- MIN QTA -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="minQta">
            <i-feather name="users" class="md-icon stroke-second"></i-feather>
            {{ "recipes.editor.minQta" | transloco }}
          </label>
          <input
            type="number"
            min="1"
            name="minQta"
            id="minQta"
            formControlName="minQta"
          />
        </div>
        <!-- Error Container -->
        @if (
          recipeForm.get("minQta")?.errors &&
          recipeForm.get("minQta")?.touched &&
          recipeForm.get("minQta")?.dirty
        ) {
          <ul class="errorContainer">
            <li class="errorMessage m-0">
              {{ "recipes.editor.minQta" | transloco }}
            </li>
          </ul>
        }
      </div>

      <!-- TIME OF COOKING -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="cookingTimeHour">
            <i-feather name="clock" class="md-icon stroke-second"></i-feather>
            {{ "recipes.editor.cookingTime" | transloco }}
          </label>
          <!-- Hour and Minute Inputs -->
          <div class="flex-center-container" style="column-gap: 1rem">
            <!-- HOURS -->
            <div class="inputContainer">
              <input
                style="width: 4rem"
                type="number"
                name="cookingTimeHour"
                id="cookingTimeHour"
                min="0"
                step="1"
                formControlName="cookingTime"
              />
              <p class="m-0">{{ "recipes.hours" | transloco }}</p>
            </div>
            <!-- MINUTES -->
            <div class="inputContainer">
              <input
                style="width: 4rem"
                type="number"
                name="cookingTimeMinute"
                id="cookingTimeMinute"
                min="0"
                max="59"
                step="1"
                formControlName="cookingTimeMinute"
              />
              <p class="m-0">{{ "recipes.minutes" | transloco }}</p>
            </div>
          </div>
        </div>
        <!-- Error Container -->
        @if (
          recipeForm.get("cookingTime")?.errors &&
          recipeForm.get("cookingTime")?.touched &&
          recipeForm.get("cookingTime")?.dirty
        ) {
          <ul class="errorContainer">
            <li class="errorMessage m-0">
              {{ "recipes.editor.cookingTime" | transloco }}
            </li>
          </ul>
        }
      </div>

      <!-- TYPE -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="type">
            <i-feather name="coffee" class="md-icon stroke-second"></i-feather>
            {{ "recipes.editor.type" | transloco }}
          </label>
          <select name="type" id="type" formControlName="type">
            <option value="ND">
              {{ "generics.selectAnOption" | transloco }}
            </option>
            @for (enum of recipeTypes | keyvalue; track enum) {
              <option [value]="enum.value">
                {{ "recipes.types." + enum.value | transloco }}
              </option>
            }
          </select>
        </div>
        <!-- Error Container -->
        @if (
          recipeForm.get("type")?.errors &&
          recipeForm.get("type")?.touched &&
          recipeForm.get("type")?.dirty
        ) {
          <ul class="errorContainer">
            <li class="errorMessage m-0">
              {{ "recipes.editor.type" | transloco }}
            </li>
          </ul>
        }
      </div>
    </div>

    <!-- MAIN PICTURE UPLOAD -->
    <div class="entryContainer">
      <img
        style="
          height: auto;
          width: 300px;
          border-radius: 15px;
          margin-bottom: 0.5rem;
        "
        [src]="
          recipeMainPicture?.value
            ? recipeMainPicture?.value
            : providerUrl + recipeData?.mainPictureUrl
        "
        alt=""
      />
      <app-image-upload
        #mainPictureUploadRef
        [label]="'recipes.editor.mainPicture' | transloco"
        [inputName]="'mainPicture'"
        (photoUploaded)="getMainPicture($event)"
      ></app-image-upload>
      <!-- Error Container -->
      @if (
        recipeForm.get("mainPicture")?.errors &&
        recipeForm.get("mainPicture")?.touched &&
        recipeForm.get("mainPicture")?.dirty
      ) {
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "signInModal.errors.username" | transloco }}
          </li>
        </ul>
      }
    </div>
  </section>
  <!-- INGREDIENTS DATA -->
  <app-ingredient-form
    [ingredients]="ingredients"
    (updateIngredients)="updateIngredients($event)"
  >
  </app-ingredient-form>
  <br />
  <!-- STEPS DATA -->
  <app-step-form [steps]="steps" (updateSteps)="updateSteps($event)">
  </app-step-form>
  <hr style="margin: 2rem" />
  <div style="margin-top: 2rem" class="flex-center-container">
    <button
      class="button-primary animated"
      style="display: flex; align-items: center; column-gap: 0.5rem"
      [disabled]="
        !(recipeForm.valid && ingredients.length > 0 && steps.length > 0)
      "
      type="submit"
    >
      @if (editMode) {
        <i-feather class="sm-icon stroke-primary" name="save"></i-feather>
        {{ "recipes.editor.modifyRecipe" | transloco }}
      } @else {
        <i-feather class="sm-icon stroke-primary" name="plus"></i-feather>
        {{ "recipes.editor.addRecipe" | transloco }}
      }
    </button>
  </div>
</form>
