@import "styles";

nav {
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    font-family: 'Quicksand';
    font-display: swap;
  }

  div {
    display: flex;
    width: 75vw;
    padding: 1rem 0;

    section {
      display: flex;
      align-items: center;
      column-gap: 2rem;

      img {
        border-radius: 15px;
        border: 1px solid transparent;

        &:hover {
          transition: 0.25s;
          border-color: $primary-color;
        }
      }

      button {
        border: 0px;
        background-color: transparent;
      }

      a,
      button {
        color: $primary-color;
        font-size: 2.5rem;
        text-decoration: none;
        padding: 0.4rem;
        cursor: pointer;

        &::after {
          content: "";
          height: 2px;
          width: 0px;
          background-color: $primary-color;
          opacity: 0%;
          display: block;
          transition: 0.25s;
        }

        &:hover::after {
          opacity: 100%;
          width: 100%;
          transition: 0.25s;
        }
      }
    }

    section:nth-child(2) {
      margin-left: auto;
      column-gap: 2rem;
    }
  }

}