<form [formGroup]="ingredientForm" (ngSubmit)="modifyIngredientSubmit()">
  <h2 class="color-second m-0">
    {{ "recipes.editor.ingredients.modifyModal.title" | transloco }}
  </h2>
  <br />
  <section>
    <!-- ROW OF 2 -->
    <div
      class="flex-center-container"
      style="flex-wrap: wrap; width: 100%; column-gap: 1rem"
    >
      <!-- NAME -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="ingredient-name">
            <i-feather name="book" class="md-icon stroke-second" />
            {{ "recipes.editor.ingredients.name" | transloco }}
          </label>
          <input
            type="text"
            name="ingredient-name"
            id="ingredient-name"
            formControlName="ingredientName"
          />
        </div>
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.ingredients.name" | transloco }}
          </li>
        </ul>
      </div>
      <!-- QTA -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="qta">
            <i-feather name="archive" class="md-icon stroke-second" />
            {{ "recipes.editor.ingredients.qta" | transloco }}
          </label>
          <input
            type="text"
            name="qta"
            id="qta"
            formControlName="ingredientQta"
          />
        </div>
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.title" | transloco }}
          </li>
        </ul>
      </div>
    </div>
    <!-- INGREDIENT PICTURE -->
    <div class="entryContainer">
      <img
        style="width: 200px; height: auto"
        [src]="providerUrl + ingredientPicture?.value"
        [alt]="ingredientPicture?.name"
      />
      <app-image-upload
        [label]="'recipes.editor.ingredients.picture' | transloco"
        [inputName]="'ingredientPicture'"
        (photoUploaded)="getIngredientUploadedPhoto($event)"
      >
      </app-image-upload>
      <ul class="errorContainer">
        <li class="errorMessage m-0">
          {{ "signInModal.errors.username" | transloco }}
        </li>
      </ul>
    </div>
    <!-- BOTTONE AGGIUNGI -->
    <div class="flex-center-container">
      <button
        [disabled]="!ingredientForm.valid"
        class="button-secondary animated"
        style="display: flex; align-items: center; column-gap: 0.5rem"
      >
        <i-feather class="sm-icon stroke-second" name="save"></i-feather>
        {{ "recipes.editor.modifyRecipe" | transloco }}
      </button>
    </div>
  </section>
</form>
