@import "styles";

.router-container {
  display: flex;
  place-content: center;
  & > :first-child {
    width: 80vw;
    padding: 1.5rem 0 2rem 0;
  }
}

@media only screen and (max-width: $mobile-width) {
  .router-container {
    & > :first-child {
      width: 95vw;
    }
  }
}
