<!-- USER PROFILE DATA -->
<div class="profile-page-container">
  <section class="user-data-profile-card-container">
    @if(ownProfile){
      <app-user-data-profile-card [userData]="ownProfile">
      </app-user-data-profile-card>
    }
  </section>
  <!-- DASHBOARD -->
  <section class="user-dashboard">
    <div id="user-commands">
      <button class="button button-primary" [routerLink]="'/recipe/editor'">{{'recipes.editor.addRecipe' | transloco}}</button>
    </div>
    <hr>
    <app-recipes-list [canModify]="true"></app-recipes-list>
  </section>
</div>
