<!-- STEPS DATA -->
<form [formGroup]="stepsForm" (ngSubmit)="addStep()">
  <h2
    class="m-0 color-primary bg-secondary"
    style="text-align: center; margin-bottom: 2rem; border-radius: 15px"
  >
    {{ "recipes.editor.steps.title-section" | transloco }}
  </h2>
  <!-- TODO - LISTA STEPS CANCELLABILE, MODIFICABILE E MAGARI DRAGGABILE -->
  <!-- STEPS LIST -->
  <section
    class="flex-center-container"
    style="flex-wrap: wrap; width: 100%; column-gap: 1rem; margin-bottom: 1rem"
  >
    @for (step of steps; track $index) {
      <app-info-card
        [prefix]="'step-card'"
        [payload]="$index.toString()"
        [image]="
          step.pictureUrl
            ? providerUrl + step.pictureUrl
            : step.imageBase64?.toString()
        "
        [title]="step.title"
        [description]="step.description"
        [isHorizontal]="false"
        [actions]="infoCardActions"
        (onEvent)="infoCardEventHandler($event)"
      >
      </app-info-card>
    }
  </section>
  <!-- FORM -->
  <section>
    <!-- ROW OF 2 -->
    <div
      class="flex-center-container"
      style="flex-wrap: wrap; width: 100%; column-gap: 1rem"
    >
      <!-- TITLE -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="step-title">
            <i-feather name="book" class="md-icon stroke-second" />
            {{ "recipes.editor.steps.title" | transloco }}
          </label>
          <input
            type="text"
            name="step-title"
            id="step-title"
            formControlName="stepTitle"
          />
        </div>
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.ingredients.name" | transloco }}
          </li>
        </ul>
      </div>
      <!-- DESCRIPTION -->
      <div class="entryContainer">
        <div class="inputContainer row-input">
          <label for="step-description">
            <i-feather name="book-open" class="md-icon stroke-second" />
            {{ "recipes.editor.steps.description" | transloco }}
          </label>
          <input
            type="text"
            name="step-description"
            id="step-description"
            formControlName="stepDescription"
          />
        </div>
        <ul class="errorContainer">
          <li class="errorMessage m-0">
            {{ "recipes.editor.title" | transloco }}
          </li>
        </ul>
      </div>
    </div>
    <!-- STEPS PICTURE -->
    <div class="entryContainer">
      <app-image-upload
        #stepPictureUpload
        [label]="'recipes.editor.steps.picture' | transloco"
        [inputName]="'stepPicture'"
        (photoUploaded)="getStepUploadedPhoto($event)"
      >
      </app-image-upload>
      <ul class="errorContainer">
        <li class="errorMessage m-0">
          {{ "signInModal.errors.username" | transloco }}
        </li>
      </ul>
    </div>
    <!-- BOTTONE AGGIUNGI -->
    <div class="flex-center-container">
      <button
        class="button-secondary animated"
        style="display: flex; align-items: center; column-gap: 0.5rem"
        [disabled]="!stepsForm.valid"
      >
        <i-feather class="sm-icon stroke-second" name="plus"></i-feather>
        {{ "generics.add" | transloco }}
      </button>
    </div>
  </section>
</form>