@if (isLoadingRecipe) {
  <app-loading-spinner>
  </app-loading-spinner>
} @else {
  @if (recipe) {
    <div class="recipe-container">
      <div class="recipe-wrapper">
        <!-- RECIPE IMAGE -->
        <section class="recipe-header">
          <h2 class="m-0">{{ recipe.title }}</h2>
          <img [src]="providerUrl + recipe.mainPictureUrl" />
          <!-- DATA -->
          <div class="recipe-data-container">
            <section class="recipe-data-descriptors">
              <span>
                <i-feather
                  name="calendar"
                  class="sm-icon stroke-grey"
                ></i-feather>
                {{ recipe.uploadData | slice: 0 : 10 }}
              </span>
              <span>
                <i-feather name="clock" class="sm-icon stroke-grey"></i-feather>
                {{ recipe.cookingTime }}
                {{ "recipes.hours" | transloco | titlecase }}
              </span>
              <span>
                <i-feather name="coffee" class="sm-icon stroke-grey"></i-feather>
                {{ "recipes.types." + recipe.type | transloco | titlecase }}
              </span>
              <span>
                <i-feather name="Users" class="sm-icon stroke-grey"></i-feather>
                {{ recipe.minQta }}
              </span>
            </section>
          </div>
        </section>
        <!-- DESCRIPTORS -->
        <div>
          <!-- DESCRIPTIONS -->
          <p>{{ recipe.description }}</p>
          <!-- INGREDIENTS -->
          <h4 class="center-mobile">
            {{ "generics.ingredients" | transloco }}
          </h4>
          <section class="flex-start-container" style="flex-wrap: wrap">
            @for (ingredient of recipe.ingredients; track ingredient._id) {
              <div class="horizontal-card">
                <img
                  [src]="providerUrl + ingredient.pictureUrl"
                  [alt]="ingredient.name"
                />
                <p>{{ ingredient.name }} x {{ ingredient.qta }}</p>
              </div>
            }
          </section>
          <h4 class="center-mobile">
            {{ "generics.steps" | transloco }}
          </h4>
          <!-- STEPS -->
          <section class="flex-start-container" style="flex-wrap: wrap">
            @for (step of recipe.steps; track step._id) {
              <div class="flex-start-container horizontal-card">
                <img [src]="providerUrl + step.pictureUrl" [alt]="step.title" />
                <p>
                  {{ step.description }}
                </p>
              </div>
            }
          </section>
        </div>
      </div>
    </div>
    <app-island-toolbar
      [functions]="toolbarFunctions"
      (event)="eventHandler($event)">
    </app-island-toolbar>
  } @else {
    <h1 class="error-message-page">
      {{"errorCodes.mainProblems.RECIPE_OR_USER_NO_MATCH" | transloco}}
    </h1>
  }
}
