$primary-color: #fdfabf;
$secondary-color: #D05717;
$third-color: #dd1c1a;
$text-color: #1E1E1E;
$main-text-color: #0F0F0F;

* {
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5 {
  color: $main-text-color;
}